.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

app-search-bar {
    display: flex;
    align-items: center;
}